ul a {
  /* 공백은 ul 아래 모든 a태그 적용*/
  text-decoration: none;
}

ul > a {
  /* ul 바로 아래 a태그만 적용*/
  color: deeppink;
}

ul > li > a {
  /* ul태그 바로 아래 li 태그 바로 아래 a태그만 적용*/
  color: cornflowerblue;
}

ul > li > p > a {
  /* ul 태그 아래 li태그 아래 가장 가까운 p태그 안에 a태그 적용 */
  color: darkviolet;
}

ul li a {
  color: red;
}

ul li > p > a {
  color: blue;
}
